*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans" , sans-serif;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/*
utility
*/
.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c07373;
  border: 3px solid #ffffff;
  width: 30vw;
  max-width: 700px;
  height: 45vh;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.modal-img{
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
}
.modal-wrapper{
  text-align: center;
  padding: 12px;
}
.modal-header{
  text-align: center;
  margin-bottom: 12px;
}


.modal-project-description{
  margin-bottom: 12px;
}

.modal-exit-button{
  position: absolute;
  top: 5px;
  right: 5px;

  display: flex;
  justify-content: center;
  align-self: center;

  cursor: pointer;
  border: none;
  color: #fff;

  padding: 2px;
  background-color: #c68181;

  transition: all 0.3s;

}

.modal-exit-button:hover{
  background-color: #9a5c5c;
  transform: rotateZ(-10deg);
}

.icon{
  font-size: 24px;
}
.modal-content-wrapper{
  display: flex;
  justify-content: center;
  align-self: center;

  flex-direction: column;
}


